<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>天气查查</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios包导入 -->
    <script src="http://unpkg.com/axios/dist/axios.min.js"></script>
    
</head>
<body>
    <div id="app">
        <input type="text" placeholder="请输入想查询的城市" @keyup.enter="sear" v-model="city"/>
        <button>查询</button>
        <div>
            <a href="javascript:;">北京</a>
            <a href="javascript:;">上海</a>
            <a href="javascript:;">深圳</a>
            <a href="javascript:;">洛阳</a>
        </div>
        <ul>
            <li v-for="item in wealist">{{item.type + item.low +item.high + item.data}}</li>
        </ul>
    </div>

    <!-- 自己的js -->
    <script src="weather.js"></script>
</body>
</html>